body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f0f2f5;
}

.nav-container {
  padding: 16px;
  display: flex;
  flex-direction:column;
  height: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}

.crypto-card-container { margin-top: 16px; }
.crypto-image { width: 30px; }
.search-crypto { margin-bottom: 24px; }
